//Google fonts
@import url('https://fonts.googleapis.com/css?family=Cinzel:700|Roboto:300,500,700&display=swap');

//Variables
$headerFont: 'Cinzel', serif;
$bodyFont: 'Roboto', sans-serif;

$backgroundcolor: #F8F6F6;
$textcolor: #4E4D4D;
$buttoncolor: #000957;
$black: #000000; 
$white: #FFFFFF;
$buttonHovercolor: #707070;
$blue: #00477E;
$red: #F10414;
$green: #33C851;



